body {
	background-image:url("deer-digtial-vector-art-5k-gk-1366x768.jpg"); 
	}

button{
	background-color: white;
	color: rgb(179, 62, 179);
	border-color: rgb(179, 62, 179);
	width: 300px;
	height: 100px;
	font-size: 40px;
	cursor: pointer;
	margin-right: 20px;
}
button:hover{
	background-color: rgb(179, 62, 179);
	color: white;
	transition: 0.5s;
}
button:active{
	opacity: 0.3;
}